{% extends 'main/base.html' %}
{% block title %}
  Практическая работа №11
{% endblock %}


{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">11.3 Практическая работа</h1>
</div>
<p>
<li>Научиться загружать и отображать медиафайлы.</li>
</p><br>

<h3>Что нужно сделать</h3>
<ol>Воспользуйтесь кодовой базой из пройденных модулей или файлами из репозитория с практической работой

<br><del>
    <li>Убедитесь, что для пользователей выполняется создание профиля при регистрации (модель Profile
        в приложении myAuth).
    </li>
    <li>Укажите в настройках MEDIA_ROOT и MEDIA_URL.</li>
    <li>Подключите в настройках urls обслуживание статики для media (только для DEBUG-режима).</li>
        <li>Установите пакет Pillow, заморозьте зависимости.</li></del>

    <li><del>Добавьте в профиль пользователя поле avatar типа ImageField, укажите путь для загрузки
        через кастомную функцию.</del></li>
    <li><del>Сгенерируйте и выполните миграцию.</del></li>
    <li><del>Отобразите аватарку на странице about-me. Если аватарки в профиле пользователя нет, так и
        напишите на странице.</del></li>
    <li><del>Дайте возможность пользователю менять свою аватарку через страницу about-me.</del></li>
    <li><del>Выведите список пользователей на новую страницу. Дайте возможность
        перейти на страницу любого пользователя, где будет информация о нём, в том числе аватарка.</del></li>
    <li><del>Дайте возможность администраторам менять аватарки пользователей (проверка по is_staff или
        принадлежности профиля пользователю). Эта проверка должна быть:
        <ul><li>
            во view-функции (чтобы не пускать пользователя на страницу и не пропускать запрос на обновление);
        </li></ul>
        <ul><li>
            в шаблоне (чтобы даже не отображать ссылку на обновление профиля пользователя).
        </li></ul>
    </del></li>

</ol>
<br>
<h3>Что оценивается</h3>

<ol>
    <ul><li>Создано приложение myAuth.</li></ul>
    <ul><li>В приложении myAuth есть модель Profile, связанная 1-1 с User.</li></ul>
    <ul><li>
        В модели Profile есть поле avatar:
        <ul><li>тип ImageField,</li></ul>
        <ul><li>в upload_to указана функция, путь которой содержит pk пользователя (не профиля),</li></ul>
        <ul><li>можно оставить пустым.</li></ul>
    </li></ul>
    <ul><li>На странице about-me отображается аватар текущего пользователя (если присутствует).</li></ul>
    <ul><li>На странице about-me можно поменять свой аватар.</li></ul>
    <ul><li>
        Создана страница со списком всех пользователей. На каждом пользователе можно кликнуть,
        чтобы перейти на страницу деталей профиля.
    </li></ul>
    <ul><li>
        На странице деталей профиля пользователя отображена вся нужная информация о пользователе,
        в том числе аватар.
    </li></ul>
    <ul><li>
        Если у текущего пользователя есть право изменить аватар пользователя, на странице которого
        он находится (либо имеет статус is_staff, либо является владельцем этого профиля, то есть
        находится на своей странице), то отображена ссылка на обновление информации профиля. Иначе
        ссылки быть не должно.
    </li></ul>
    <ul><li>
        При переходе на страницу для обновления информации профиля пользователя выполняется проверка,
        что пользователь может обновлять информацию этого профиля (либо имеет статус is_staff, либо
        является владельцем этого профиля, то есть находится на своей странице).
    </li></ul>
    <ul><li>
        На странице обновления информации профиля пользователя отображается текущая информация
        профиля, в том числе аватар.
    </li></ul>
    <ul><li>Аватар и другую информацию из профиля пользователя можно обновить.</li></ul>
    <ul><li>Обновить аватар может только тот, у кого достаточно прав на это (см. выше).</li></ul>
</ol>



<a class="me-3 py-2 link-body-emphasis text-decoration-none" href="admin/">Переход в админку</a>
{% endblock %}